{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-7 col-lg-5 p-4 shadow rounded bg-white">
        
        <h2 class="text-center mb-3" style="font-family: 'Charm', cursive; color: #007bff; font-size: 36px;">
            Reset Password
        </h2>
        <hr>

        <p class="text-center mb-4 text-muted">
            Forgotten your password? Enter your email address below and we’ll send you instructions to reset it.
        </p>

        <form method="POST" class="form-group">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label for="">Enter Email</label>
                {{ password_reset_form.email }}
            </div>

            <div class="d-grid">
                <button class="btn btn-primary" type="submit" style="padding: 10px; font-weight: 600;">
                    Send Reset Link
                </button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
