
{% extends "base.html" %}
{% load static %}
{% block title %}
{{product.product_name}}

{% endblock %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'myhome'%}"><i class="fa fa-home"></i> Home</a>

                    <span>{{product.product_name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
      
        {% if messages %}
        <div class="alert alert-success" alert-{{ message.tags }}" role="alert">
            {% for message in messages %}
            {{message|safe}} - <a href="" class="alert-link">Your Wishlist</a>.
            {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            {% if product %}
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        <a class="pt active" href="#product-1">
                            <img src=" {{ product.show_image1 }}" alt="">
                        </a>
                        <!-- <a class="pt" href="#product-2">
                            <img src="{{ product.show_image2 }}" alt="">
                        </a>
                        <a class="pt" href="#product-3">
                            <img src="{{ product.show_image3 }}" alt="">
                        </a> -->
                        <a class="pt" href="#product-4">
                            <img src="{{ product.show_image1 }}" alt="">
                        </a>
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-hash="product-1" class="product__big__img" src="{{ product.show_image1 }}" alt="">
                            <!-- <img data-hash="product-2" class="product__big__img" src="{{ product.show_image2 }}" alt="">
                            <img data-hash="product-3" class="product__big__img" src="{{ product.show_image3}}" alt=""> -->
                            <img data-hash="product-4" class="product__big__img" src="{{ product.show_image1 }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>{{product.product_name}} </h3>
                    <div class="shop-info1">
                        <img src="{{ product.shop_name.shop_img }}" class="shop-img img-fluid img-rounded" alt="{{ product.shop_name.shop_name }}">
                        <h5 class="shop-name"><strong>{{ product.shop_name.shop_name }}</strong></h5>
                    </div>
                    <div class="product__details__price">&#8358; {{product.price}}</div>
                    <p>{{product.content|safe}}</p>


                    <div class="product__details__button  ">
                        <div class="quantity">
                            <label for="select">Quantity</label>
                            <select id="select" class="form-select w-10" aria-label="Default select example">

                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                                <option value="">6</option>
                                <option value="">7</option>
                                <option value="">8</option>
                                <option value="">9</option>
                                <option value="">10</option>
                                <option value="">11</option>
                                <option value="">12</option>
                                <option value="">13</option>
                                <option value="">14</option>
                                <option value="">15</option>
                                <option value="">16</option>
                                <option value="">17</option>
                                <option value="">18</option>
                                <option value="">19</option>
                                <option value="">20</option>
                            </select>

                        </div>

                        {% if product.in_stock %}
                        <button type="button" id="add-button" value="{{product.id}}" class=" cart-btn  ml-5"><span
                                class="icon_bag_alt"></span>Add to Cart</button>
                        {% else %}
                        <button type="button" id="add-button" value="{{product.id}}" class=" cart-btn  ml-5"disabled><span class="icon_bag_alt"></span>Add to Cart</button>
                        {% endif %}
                        <ul>
                            <li><a href=""><span
                                        class="icon_heart_alt"></span></a></li><small>Add to Whishlist</small>

                        </ul>


                    </div>

                    <div class="product__details__widget">
                        <ul>
                            <li>
                                <span>Availability:</span>
                                {% if product.in_stock %}
                                <div class="stock__checkbox">
                                    <label for="stockin">
                                        In Stock

                                        <span class=""></span>
                                    </label>
                                </div>
                                {% else %}
                                <div class="stock__checkbox">
                                    <label for="stockin">
                                        Out of Stock

                                    </label>
                                </div>
                                {% endif %}

                            </li>
                            <li>
                                <span>Available color:</span>

                                <div class="color__checkbox">
                                    <label for="red">
                                        <input type="radio" name="color__radio" id="red">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="black">
                                        <input type="radio" name="color__radio" id="black">
                                        <span class="checkmark black-bg"></span>
                                    </label>
                                    <label for="grey">
                                        <input type="radio" name="color__radio" id="grey">
                                        <span class="checkmark grey-bg"></span>
                                    </label>
                                </div>
                            </li>
                          

                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>



{% endblock %}
