{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}
Change Password
{% endblock %}
{% block content %}
 <div class="container mt-3">
    <h1 class="h3">Change Password</h1>
    
    <hr />
    <div class="card">
        <div class="col-6 mx-auto">
            <h6 class="mb-20">Enter your new password, confirm and submit</h6>
						<form method="post" action="">
							{% if messages %}
								{% for mes in messages%}
									<div class="alert {{ mes.tags }}">{{ mes }}</div>
								{% endfor %}
							{% endif %}
							<div class="input-group custom">
								{{pass.old_password}}
							</div>
							<div class="input-group custom">
								{{pass.new_password1}}
							</div>
							<div class="input-group custom">
								{{pass.new_password2}}
							</div>
							<div class="row align-items-center">
								<div class="col-5">
									<div class="input-group mb-0">
															
										<input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">	
									</div>
								</div>
							</div>
							{% csrf_token %}
						</form>
      </div>
 </div>
{% endblock %}