{% extends "dashboard/base.html" %}
{% block title %}
Edit {{ product.product_name }}
{% endblock %}
{% block content %}
<div class="container mt-3">
    <h1 class="h3">Edit Product</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                Please review the form and try again!
            </div>
        {% endif %}
        
        <div class="form-group">
            <label for="{{ form.product_name.id_for_label }}" class="font-weight-bold">Product Name</label>
            {{ form.product_name }}
        </div>

        <div class="form-group">
            <label for="{{ form.price.id_for_label }}" class="font-weight-bold">Price</label>
            {{ form.price }}
        </div>

        <div class="form-group">
            <label for="{{ form.product_image1.id_for_label }}" class="font-weight-bold">Product Image</label>
            {% if product.product_image1 %}
                <div>
                    <img src="{{ product.product_image1.url }}" alt="Product Image" width="100" height="100">
                    <p>Current Image</p>
                </div>
            {% endif %}
            {{ form.product_image1 }}
        </div>

        <div class="form-group">
            <label for="{{ form.content.id_for_label }}" class="font-weight-bold">Product Description</label>
            {{ form.content }}
        </div>

        <div class="form-group">
            <label for="{{ form.no_of_stock.id_for_label }}" class="font-weight-bold">Stock Quantity</label>
            {{ form.no_of_stock }}
        </div>

        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
</div>
{% endblock %}
